#container{
  margin-left: 90px;
  margin-top: 50px;
  position: fixed;
  left: 5%;
  top:1%;
  background-color: whitesmoke;
  border: 2px solid;
  border-color: #2fe8cc;
  border-radius: 5px;
  height: 600px;
  width: 1000px;
  padding: 10px;
  z-index: 10;
}

button {
  background-color: #2fe8cc;
  color: white;
  padding: 0px  0px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 35px;
}
button:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}

#bb{
  margin-left: 150px;
}
