#container{
  margin-left: 90px;
  margin-top: 50px;
  width: 70%;
}


.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.div1 { grid-area: 1 / 1 / 5 / 4; }

