<div id="container">
  <h4>MODIFY PASSWORD</h4>
  <form>
    <label><b>Enter your Current password </b></label>
    <input type="password" placeholder="Enter your current password" name="oldpassword"  [(ngModel)]="oldpassword"  required>
    <label><b>New Password</b></label>
    <input type="password" placeholder="Password" name="newpassword" [(ngModel)]="newpassword" required>
    <label><b>Confirm New Password</b></label>
    <input type="password" placeholder="Password" name="newpassword" [(ngModel)]="newpassword2" required>
    <p style="color: red">{{errormessage}}</p> <p style="color: #53af57">{{message}}</p>
    <button mat-button (click)="onClickFermer()"> Close</button>
    <button mat-button id="bb" (click)="change_password()">Change</button>
  </form>
</div>
