
#container{
  margin-left: 90px;
  margin-top: 50px;
}
h1{
  position: center;
}
#video_container
{
  width:60%;
  padding: 5px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 10px;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
td{
  margin-left: 10px;
  width: 20%;
}

/* Set a style for all buttons */
input[type=submit] {
  background-color: #2fe8cc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}

::ng-deep .snackbar{
  position: fixed;
  padding: 20px;
  left: 30%;
  top:40%;
  background-color: red;
  border: solid 2px;
  z-index: 100;

}
