#container{
  margin-left: 90px;
  margin-top: 50px;
  position: fixed;
  left: 30%;
  top:10%;
  background-color: white;
  border: 2px solid;
  border-color: #2fe8cc;
  border-radius: 5px;
  height: auto;
  width: 410px;
  padding: 15px;
  z-index: 11;
}

/* Bordered form */
form {
  width:100%;
  padding: 20px;
  background: #fff;

}
#container h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
  background-color: #2fe8cc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}


button {
  background-color: #2fe8cc;
  color: white;
  padding: 0px  0px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 35px;
}
button:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}

#bb{
  margin-left: 60px;
}
