nav {
  background-color: #2fe8cc;
  color: white;
  height: 50px;
  z-index: 3;
}
a{
  color: black;
}
p{
  z-index: 5;
}
::ng-deep .snackbar{
  position: fixed;
  padding: 20px;
  left: 30%;
  top:40%;
  background-color: red;
  border: solid 2px;
  z-index: 100;

}
