<div id="container">
  <h1>ALL USERS</h1>

  <input type="submit" id='submit' value='+Add Admin' (click)="newadmin()">

  <table>
    <tr><th>UserID </th> <th>Role</th> <th>Name</th> <th>Email</th> <th>Permission</th></tr>
    <tr id="tr" *ngFor="let i of data" (click)="userClick(data._id)">
      <td>{{i._id}}</td> <td> </td> <span *ngIf="i.role==0">user </span>  <span  style="color: orange"  *ngIf="i.role==1">Advertiser </span>  <span  style="color: blueviolet" *ngIf="i.role==2">Admin </span>
      <td> {{i.name}}</td>
      <td>{{i.email}} </td>
      <td> <span style="color: #53af57" *ngIf="i.permission==1"> ok </span> <span style="color: #f44336" *ngIf="i.permission==-1">Blocked</span></td>
      <td> <button class="button button3" (click)="changePermission(i)">Block/Unblock</button> </td>
    </tr>
  </table>

</div>
