#container{
  margin-left: 90px;
  margin-top: 50px;
}

#tr{
  border-bottom: solid 2px ;
  margin-bottom: 8px;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */


input[type=submit] {
  background-color: #2fe8cc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 250px;
}
input[type=submit]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}
