#container{
  margin-left: 90px;
  margin-top: 50px;
}

#tr{
  border-bottom: solid 2px ;
  margin-bottom: 8px;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
