nav{
  background-color: #2fe8cc;
  position: absolute;
  top: 0px;
  z-index: 2;
  margin-left:60px;
  width:96%;
  max-height: 50px;
  position: fixed;
}
form{
position: absolute;
  top:5px;
  right: 300px;
}

img{

  margin-left: 600px;
}
.p{
  position: absolute;
  top:0px;
  right: 30px;
  color: white;
}

 a {
   margin-top: 0px;
   padding-top: 0px;
  text-decoration: none;
  font-size: 37px;
  color: #ffffff;
  display: block;
   position: absolute;
   top:0px;
   right: 10px;
}

 a:hover {
  color: #111;
}

#but {
  background-color: #2fe848;
  color: white;
  padding: 0px  0px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 35px;
  position: absolute;
  right: 5px;
  top:7px;
  z-index: 5;
}

#but:hover{
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}

#butt {
  background-color: #2fe848;
  color: white;
  padding: 0px  0px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 35px;
  position: absolute;
  right: 5px;
  top:7px;
  z-index: 5;
}

#butt:hover{
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}
button:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}
