div{
  position: fixed;
  right:0px;
  top:90px;
  width: 20%;
  z-index:11;
  border: solid 2px ;
  border-color: #2fe8cc;
  padding: 5px;
  border-radius: 8px;
}

div:hover{
  border-color: orange;
  padding: 12px;
}
