#container{
  margin-left: 90px;
  margin-top: 50px;
  position: absolute;
  left: 17%;
  top:15%;
  background-color: whitesmoke;
  border: 2px solid;
  border-color: #2fe8cc;
  border-radius: 5px;
  height: 210px;
  width: 410px;
  padding: 10px;
}

button {
  background-color: #2fe8cc;
  color: white;
  padding: 0px  0px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 35px;
}
button:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}

#bb{
  margin-left: 150px;
}

#center{
  position: center;
}
